.ui-widget,
.ui-widget-header {
    font-size: 100% !important;
}

.ui-widget-content,
.ui-widget-header .ui-widget-header,
.ui-widget-content .ui-widget-content,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-panel-titlebar,
.ui-state-default {
    font-size: 90% !important;
}

.ui-panel-titlebar {
    font-size: 80% !important;
}

body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
