/*.ui-widget,
.ui-widget-header {
    font-size: 100% !important;
}

.ui-widget-content,
.ui-widget-header .ui-widget-header,
.ui-widget-content .ui-widget-content,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-panel-titlebar,
.ui-state-default {
    font-size: 100% !important;
}

.ui-panel-titlebar {
    font-size: 100% !important;
}*/

/*a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}*/
